<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>y3m7Calendar-說明_在職進修課表</title>
{% load staticfiles %}
<script src="{% static 'y3m7Calendar/jquery-3.1.0.js' %}"></script>
</head>
<body>
<div>
這是一個輔助台灣勞委會所提供的在職進修課程結合google日曆的非官方網站，需要授權google日曆的權限，但是本站並不儲存所有的用戶資訊。
</div>
<label>點此進行驗證google日曆</label>
<input type="button" value="開始製作課表" id="verifyBtn" style="width:10%;height:10%">


<label>使用說明</label>
<div>
<div>step1 選擇日曆後輸入查詢條件點擊查詢，將有興趣的課程加入日曆中</div>
<img alt="使用說明1" src="{% static 'y3m7Calendar/images/y3m7Calendar_UI_1.png' %}">
<div>step2 完成後跳出提示訊息</div>
<img alt="使用說明2" src="{% static 'y3m7Calendar/images/y3m7Calendar_UI_2.png' %}">
<div>step3 回到日曆中查看</div>
<img alt="使用說明3" src="{% static 'y3m7Calendar/images/y3m7Calendar_UI_3.png' %}">

</div>
</body>

<script>
(function(){
	var init = function(){
		$("#verifyBtn").click(function(){
			$.ajax({
				type : 'GET',
				url : "api/AuthLogin",
				async : true, // 使用預設
				cache : false,
				dataType : 'json', // 回來的資料自動以HTML 載入對應div
				contentType : 'application/json',
				data : {},// 參數轉換為 json object
				success :function(data){
					console.log(data)
					window.open(data.returnUrl)
					window.location.href="http://m7y3.ddns.net:8000/y3m7Calendar/"
					
				},
				error : function(error){
					console.log(error)
				}
			}).done(function(){
				
			});
		})
	}
	
	init();
})();
</script>
</html>