<html>

<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>y3m7Calendar-新增您的課程</title>
<link rel="stylesheet" href="{% static 'y3m7Calendar/jquery-ui-1.12.0.custom/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'y3m7Calendar/style.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap4.min.css" />

<!-- <script src="{% static 'y3m7Calendar/jquery-3.1.0.js' %}"></script> -->
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="{% static 'y3m7Calendar/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'y3m7Calendar/address.js' %}"></script>
<script src="{% static 'y3m7Calendar/datatables.min.js' %}"></script>
 <link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.12/css/dataTables.jqueryui.min.css" />
 
 
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 


<style>
div.dataTables_paginate {
   width: 120px;
    float: none !important;
    margin: 0 auto !important; 
}
.container {
                display     : inline-block;
                margin-left : 20px;
                width       : 500px;
                height      : 500px;
                border      : 1px solid #008800;
                font        : 14pt/1.2 sans-serif;
                text-align  : center;
                padding     : 10px;
                color       : #303030;
                background  : #ffdd88;
            }
</style>

</head>
<title>三年七萬政府課程查詢</title>
<body>

<!-- <input type="button" value="查詢" id="queryBtn">

<input type="button" value="call api test" id="callTestBtn"> -->
<!-- <label>CalendarList</label>
<form id="calendarList">
<input type="button" value="calendarList get"  id="calendarListGet"/>
<input type="button" value="calendarList insert" id="calendarListInsert" />
<input type="button" value="calendarList delete" id="calendarListDelete" />
<input type="button" value="calendarList list" id="calendarListList" />
</form> -->
<!-- <form>
<label>新增日曆屬性</label> <input type="text" id="calendarListInsertId"  />
calendarListInsert 是insert 對於這個List的屬性 可以用於讓使用者選擇自己的日曆顏色
</form>-->
	<div style="border:2px #ccc solid;border-radius:10px;text-align:center;font-size:20px;font-weight:bold;color:purple;">查看網站說明<a href="/plus/index.html"><input type="button" id="gotoWebDescription" value="點我前往" ></a></div>
		<div style="text-align:center;margin-top:50px;margin-button:10px;">
			<label>請選擇日曆</label>
			<select id="calendarListSelect" name="calendarListSelect">
			{% if calendarList %} 
			{% for calendar in calendarList %}
			<option value="{{ calendar.calendarId}}">{{ calendar.summary}}</option>
			{% endfor %}
			{% endif %} 
			</select>
			<input type="button" id="manageCalendarListBtn" value="管理日曆列表"/>
			<!-- <br> -->
			<!-- <label>分享活動:</label><input type="email" id="FriendsEmail" placeholder="請輸入好友Gmail信箱" > -->
			<!-- <input type="button" value="calendarsGet" id="calendarsGet"/> -->
			<input type="button" id="manageCalendarEventBtn" value="管理活動" />
		</div>
		<div id="searchPanel" style="text-align:center;">
		
			<label>課程代碼:</label> 
			{% if reqParams != null or reqParams.CourseId != null or reqParams.CourseId == "" %} 
			<input name="CourseId" id="CourseId" type="text" value='{{reqParams.CourseId}}' /> 
			{% else %} 
			<input name="CourseId"  id="CourseId" type="number" /> 
			{% endif %}
			<label>課程名稱檢索:</label> 
			{% if reqParams.OName %}
			<input name="CourseName" id="CourseName" type="text" /> 
			{% else %} 
			<input name="CourseName" id="CourseName" type="text" /> 
			{% endif %} 
			<label>開課時間(起)</label>
			<input id="startDate" name="startDate" type="text" />
			<label>開課時間(止)</label>
			<input id="endDate" name="endDate" type="text" />
			
			<label>縣市別:</label> 
			<select id="City" name="City">
			</select> <input type="button" id="courseQuery" value="查詢">
			<br>
			<span id="selectCityShow"></span>
	</div>
	<table id="courseTable" class="display" cellspacing="0" style="text-align:center;width:80%;" >
		</table>
	<br>
	<!-- <div id='showPanel' > -->
		<!-- {% if latest_course_list %} 
		{% for course in latest_course_list %} -->
		<!-- {% endfor %} -->
	<!-- </div> -->
	
	<!-- {% else %}
	<p>No polls are available.</p>
	{% endif %} -->
	<!-- template -->
	<div id="calendarEventDialog" title="活動管理" style="test-align:center;" hidden>
			<label>活動開始時間</label>
			<input type="text" id="eventStartDate" />
			<label>活動結束時間</label>
			<input type="text" id="eventEndDate" />
			<input type="button" value="查詢活動列表"		id="eventsList" autofocus/>
			<!-- <select id="eventSelect"></select> -->
			<table id="eventTable" class="display" cellspacing="0" style="text-align:center;width:80%;">
			</table>
	</div>
	<div id="CityListDialog" title="請選擇縣市" style="text-align:center" hidden>
		<div id="ClityContent">
		</div>
		<br>
		<input type='button' id='checkCityBtn' value='確定'  />
	</div>
	<div id="calendarListDialog" title="日曆列表管理" style="text-align:center" hidden>
		<nobr>
  		<select name="calendarListSelect" id = "manageCalendarSelect">
  		</select>
  		
  		<input type="button" value="刪除日曆" id="calendarsDelete"/>
  		<!-- <input type="button" value="清空日曆" id="calendarsClear"/> -->
  		</nobr>
  		<br>
  		<nobr>
  		<label>新增日曆名稱:</label><input type="text" id="newCalendarName"/><input type="button" value="新增日曆" id="calendarsInsert"/>
  		</nobr>
  		<br>
	</div>
	
	<div id="courseDetailDialog" title="課程詳細資訊" id="courseTitle" style="text-align:center" hidden>
		<label id="sliderMessage">評分</label><input type="button" id="scoreBtn" value="確定送出" />
		<div id="sliderScore"></div>
		
		<div id="sendMessagePanel">
			<textarea placeholder ="請在此輸入您對此課程的評價" id="messageArea" maxlength="500" style="width:100%;height:20%;resize: none;"></textarea>
		</div>
	</div>
	
	<div id="eventsDetailDialog" title="日曆列表管理" style="text-align:center" hidden>
	<label style="text-align:left;">活動名稱:</label><input type="text" id="summary"  readonly/><br>
	<label>建立日期:</label><input type="text" id="created"  readonly/><br>
	<label style="text-align:left;">內文:</label><input type="text" id="description"  readonly/><br>
	<label>狀態:</label><input type="text" id="status"  readonly/><br>
	<label>開始時間:</label><input type="text" id="startdateTime"  readonly/><br>
	<label>結束時間:</label><input type="text" id="enddateTime"  readonly/><br>
	</div>
</body>
<script src="{% static 'y3m7Calendar/js/core.js' %}"></script>
<script>
	(function() {
		var courseTable;
		var eventTable;
		
		var initDatePicker = function(){
			//今天日期
			var today = new Date();
			var year = today.getFullYear().toString();
			var month = (today.getMonth()+1).toString();
			var fullMonth = month.length >1 ? month : "0"+month;
			var day = today.getDate().toString();
			var defaultDate = year + fullMonth + day
			//今天日期前30天
			var beforeDay = new Date(today.getTime()-(6*24*60*60*1000))
			console.log(beforeDay)
			var beforeYear = beforeDay.getFullYear().toString();
			var beforeMonth = (beforeDay.getMonth()+1).toString();
			var beforeFullMonth = beforeMonth.length >1 ? beforeMonth : "0"+beforeMonth;
			var beforeDay = beforeDay.getDate().toString();
			var beforeDefaultDate = beforeYear+beforeFullMonth+beforeDay;
			console.log(beforeDefaultDate)
			$( "#startDate" ).datepicker({ dateFormat: 'yymmdd' ,minDate:(parseInt(year)-1)+fullMonth+day});
			$("#startDate").datepicker( "setDate" , beforeDefaultDate );
		    $("#endDate").datepicker({ dateFormat: 'yymmdd',maxDate:(parseInt(year)+1)+fullMonth+day });
		    $("#endDate").datepicker( "setDate" , defaultDate );
		    $("#startDate").change(function(){
				$("#startDate").datepicker("option","maxDate",$("#endDate").val())
				$("#endDate").datepicker("option","minDate",$("#startDate").val())
			});
			$("#endDate").change(function(){
				$("#startDate").datepicker("option","maxDate",$("#endDate").val())
				$("#endDate").datepicker("option","minDate",$("#startDate").val())
			});
			$("#startDate").change();
			
			$("#eventStartDate").datepicker({ dateFormat: 'yymmdd'});
			$("#eventStartDate").datepicker( "setDate" , beforeDefaultDate );
			$("#eventEndDate").datepicker({ dateFormat: 'yymmdd' });
			$("#eventEndDate").datepicker( "setDate" , today );
			$("#manageCalendarEventBtn").click(function(){
				$("#calendarEventDialog").dialog(
					{ resizable: false,
				      height: "auto",
				      width: "50%",
				      modal: true})
			})
			
		};
		var initDataTable = function(){
			var aoColumns = [
			         		{
			         			"sTitle" : "開課單位",
			         			"mData" : "OName",
			         			"sDefaultContent" : "",
			         			"bVisible" : false,
			         		},
			         		{
			         			"sTitle" : "課程編號",
			         			"mData" : "CourseId",
			         			"sDefaultContent" : "",
			         			"sWidth":"14%",
			         			"mRender" : function(data, type, row) {
 			         				//return "<a target='_blank' href='https://tims.etraining.gov.tw/timsonline/index3.aspx?OCID="+data+"'>"+ data + "</a>"
 			         				return "<div style='cursor:pointer;' name='courseDetailId' data-id='"+data+"'>"+data+"</div>"
			         			}
			         		}, {
			         			"sTitle" : "課程名稱",
			         			"mData" : "CourseName",
			         			"sDefaultContent" : ""
			         		}, {
			         			"sTitle" : "連絡電話",
			         			"mData" : "OTel",
			         			"sDefaultContent" : "",
			         			/* "width" : "21%", */
			         			/* "sRender" : renderEdit, */
			         		}, {
			         			"sTitle" : "上課縣市",
			         			"mData" : "City",
			         			"sDefaultContent" : "",
			         			"sWidth":"10%",
			         			/* "bVisible" : false, */
			         		},{
			         			"sTitle" : "開課日期",
			         			"mData" : "TrainingStartDate",
			         			"sDefaultContent": "",
			         		},{
			         			"sTitle":"結訓日期",
			         			"mData" : "TrainingEndDate",
			         			"sDefaultContent":"",
			         		},{
			         			"sTitle":"上課地點",
			         			"mData":"OAddress",
			         			"sDefaultContent":""
			         		},{
			         			"sTitle" : "新增課程",
			         			"mData":"CourseId",
			         			"sDefaultContent":"資料錯誤"
			         			,"mRender" : function(data, type, row) {
 			         				return "<input type='button' name='insCourse' value='新增課程' />"
 			         				
 			         			} 
			         		},{
			         			"sTitle":"加入出席者",
			         			/* "mData":"", */
			         			"mRender" : function(data, type, row) {
 			         				return "<input type='button' name='addShareCourse' value='+' />"
 			         				
 			         			} 
			         		} ];
			         				var opt = {
			         				"oLanguage" : dataTableLanguage,
			         				"bProcessing" : true, // 顯示處理中 ..
			         				"aoColumns" : aoColumns,
			         				"bLengthChange" : false, // 改變每頁顯示數據數量
			         				"bFilter" : false, // 過濾功能
			         				"bSort" : true, // 排序功能
			         				"bPaginate" : true, // 翻頁功能
			         				"bInfo" : false,// 頁腳信息
			         				"bAutoWidth" : false,// 自動寬度
			         			};
			         			courseTable = $('#courseTable').DataTable(opt);
			         			
			         			var eventTableColumns = [
			         			         		{
			         			         			"sTitle" : "建立時間",
			         			         			"mData" : "created",
			         			         			"sDefaultContent" : "",
			         			         			/* "bVisible" : false, */
			         			         		},
			         			         		 {
			         			         			"sTitle" : "活動名稱",
			         			         			"mData" : "summary",
			         			         			"sDefaultContent" : ""
			         			         		},{
			         			         			"sTitle" : "活動明細",
			         			         			"mData":"id",
			         			         			"sDefaultContent":"資料錯誤",
			         			         			"mRender":function(data, type, row) {
			         			         				return "<input type='button' data-id='"+data+"' name='eventsDetail' value='查看明細' />"
			         			         			} 
			         			         		},
			         			         		
			         			         		{
			         			         			"sTitle" : "前往日曆",
			         			         			"mData" : "htmlLink",
			         			         			"sDefaultContent" : "",
			         			         			"sWidth":"20%"
			         			         			 ,"mRender" : function(data, type, row) {
			         			         				return "<a href='"+data+"' target='_new'>前往日曆</a>"
			         			         			} 

			         			         		},
			         			         		
			         			         		{
			         			         			"sTitle" : "刪除活動",
			         			         			 "mData" : "id" ,
			         			         			"sDefaultContent" : "",
			         			         			"sWidth":"20%"
			         			         			 ,"mRender" : function(data, type, row) {
			         			         				return "<input type='button' onclick=deleteEvent('"+data+"',this) value='刪除活動' />"
			         			         			} 
			         			         		} ];
			         			
			         			opt = {
			         					"oLanguage" : dataTableLanguage,
			         					"bProcessing" : true, // 顯示處理中 ..
			         					"aoColumns" : eventTableColumns,
			         					"bLengthChange" : false, // 改變每頁顯示數據數量
			         					"bFilter" : false, // 過濾功能
			         					"bSort" : true, // 排序功能
			         					"bPaginate" : true, // 翻頁功能
			         					"bInfo" : false,// 頁腳信息
			         					"bAutoWidth" : false,// 自動寬度
			         				};
			         			eventTable = $('#eventTable').DataTable(opt);
		}
		var initSlider = function(){
				    //$( "#sliderScore" ).slider("value",0,100)
				    $("#sliderScore").slider({
				    	change: function( event, ui ) {
				    		var value = $( "#sliderScore" ).slider( "option", "value" );
				    		console.log(value);
				    		if(value == null){
				    			$("#sliderMessage").text("目前該課程尚無評分喔!成為第一個為課程評分的人吧。")
				    			return;
				    		}
				    		$("#sliderMessage").text("您的評分為:"+value+"分")
				    	},
			    	 	classes: {
				    		    "ui-slider": "highlight"
		    		  	},
				    	min: 0,
				    	max:100
				    });
			}
		
		var initDialog = function(){
			$("#courseDetailDialog").dialog(
					{ resizable: false,
				      height: "auto",
				      width: "50%",
				      modal: true}).dialog("close")
				      
			$("#CityListDialog").dialog({
				  resizable: false,
			      height: "auto",
			      width: "30%",
			      modal: true,
			      open:function(){
			      },
			      close:function(){
			    	  var selectCity = $("[name='selectCity']:checked");
				  		for(var i = 0;i< selectCity.length;i++){
				  			console.log(selectCity[i]);	
				  		}
			      }}).dialog("close");
		
			$( "#calendarListDialog" ).dialog({
				  resizable: false,
			      height: "auto",
			      width: "30%",
			      modal: true,
			      open:function(){
			    	  $(".ui-datepicker-calendar").blur()
			      }}).dialog("close");
			$("#eventsDetailDialog").dialog({
				  resizable: false,
			      height: "auto",
			      width: "30%",
			      modal: true,
			      open:function(){
			      }}).dialog("close");
		}
		//初始化
		var init = function() {
			initDatePicker();
			initDataTable();
			initDialog();
			initSlider();
			event();
			initCity();
			initlization();
		};
		//初始化畫面
		var initlization = function(){
			//初始化日曆
			var initCalendarList = function(){
				var req = {};
				req.method = 'POST';
				req.url = "api/CalendarList"
				req.params = {};
				req.success = function(data){
					console.log(data);
					var items = data.calendarList.items;
					var calendarListSelect = "";
					for(var i = 0;i<items.length;i++){
						calendarListSelect += "<option value="+items[i].id+">"+items[i].summary+"</option>"
					}
					$("[name='calendarListSelect']").append(calendarListSelect)
				};
				req.error = function(error){
					console.log(error)
				}
			};
			
			//初始化活動列表
			var initEventList = function(calendarId){
				var req = {};
				req.params = {calendarId:calendarId};
				req.method = "POST";
				req.url = "api/Events";
				req.success = function(data){
					console.log(data)
					var items = data.items;
				}
				coreAjax(req);
			}
			//回復查詢條件
			var City = '{{ reqParams.City }}';
			$("#City").val(City);
		}
		
		//初始化事件
		var event = function() {
			//新增評分
			$("#scoreBtn").click(function(){
				
				 if($("#messageArea").val().trim()=="" || $("#messageArea").val().length<=0){
					alert("請輸入留言後再按下確定");
					return;
				}else if($("#courseDetailDialog").dialog("option","title")==null){
					alert("課程代碼錯誤,請稍後在試");
					return;
				}else if($("#sliderScore").slider("option","value") == null){
					alert("評分錯誤,請稍後在試");
					return;
				}
				var req = {};
				params = {};
				params.message = $("#messageArea").val().trim();
				params.courseId = $("#courseDetailDialog").dialog("option","title")
				params.score = $("#sliderScore").slider("option","value")
				req.params = params;
				req.url = "api/CourseInfo";
				req.method ="POST";
				req.success = function(data){
					//console.log(JSON.parse(data))
					//data = JSON.parse(data);
					alert(data.rm)
					//data = JSON.parse(data.score)
					/*if(data.length<=0){
						$("#sliderScore").slider("option","value",0)
						$("#sliderMessage").text("目前尚無評分喔,立刻為這門課來評分吧!")
					}else{
						$("#sliderScore").slider("option","value",data.score)
						$("#sliderMessage").text("課程評價總分:"+data.score);
					}
					$("#courseDetailDialog").dialog("open")*/
					
				}
				coreAjax(req);					
			})
			
			$("#manageCalendarListBtn").click(function(){
  				$("#manageCalendarSelect").html($("#calendarListSelect").html())
  				$("#calendarListDialog").dialog("open")
			  });
			
			$("#City").click(function(){
				$("#selectCityShow").html("")
				$("#CityListDialog").dialog("open");
		  		})
			var param = window.location.search.replace("?","").split("=");
			var paramKey = param[0];
			var paramValue = param[1];
			
			//查詢課程
			$("#courseQuery").click(function(){
				
				if($("[name='checkCity']").length <= 0){
					alert("請選擇縣市")
					return;
				}
				if($("#startDate").val()== ""){
					alert("place select startDate")
					return;
				}
				if($("#endDate").val()==""){
					alert("place select endDate")
					return;
				}
				var req = {};
				req.params = {};
				var cityArray = new Array();
				var checkCity = $("[name='checkCity']")
				for(var i = 0;i<checkCity.length;i++){
					cityArray[i]=$(checkCity[i]).val();
				}
				req.params.City = cityArray;
				
				if($("#CourseId").val() != ""){
					req.params.CourseId = $("#CourseId").val();
				}
				if($("#CourseName").val() != ""){
					req.params.CourseName = $("#CourseName").val();
				}
				req.params.startDate = $("#startDate").val()
				req.params.endDate = $("#endDate").val()
				req.method = "POST";
				req.url = "api/Course";
				req.success = function(data){
					courseTable.clear().rows.add(data.courseList).draw();
					//$("#courseTable").show()
					console.log(courseTable.data().count())
					$( "[name='insCourse']" ).unbind();
					$("[name='insCourse']").click(function(){
						var req = {};
						req.url = "api/Events";
						req.method ="PUT";
						var courseId = $($(this).parent().parent().children("td")[0]).text();
						req.params = {calendarId:$("#calendarListSelect").val(),
									  courseId:courseId,
						   		 	  attendees:(function(){
									   var attendees = $("[name='attendees']");
									   //alert(attendees.length)
									   var attendeesArray = new Array();
									   for(var i = 0;i<attendees.length;i++){
										   console.log($(attendees[i]).val());
										   attendeesArray[i] ={"email": $(attendees[i]).val()};
									   }
									   return attendeesArray;
									   })()
								   	}
						req.success = function(data){
							alert("新增成功!")
						}
						coreAjax(req);	
					});
					$("[name='addShareCourse']").unbind();
					$("[name='courseDetailId']").unbind();
					$("[name='courseDetailId']").click(function(){
								//var courseId = $(this).attr("data-id");
								var req = {};
								req.params = {courseId:$(this).attr("data-id")};
								req.url = "api/CourseInfo";
								req.method ="GET";
								req.success = function(data){
									console.log(data)
									data = JSON.parse(data.score)
									console.log(data)
									
										
									if (data == 'undefined' || data == null || data.averageScore == "0"){
										$("#sliderScore").slider("option","value",0)
										$("#sliderMessage").text("目前尚無評分喔,立刻為這門課來評分吧!")
									}else{
										console.log("bug")
										$("#sliderScore").slider("option","value",data.averageScore)
										$("#sliderMessage").text("課程評價總分:"+data.averageScore);
									}
									$("#courseTitle").text(req.params.courseId);
									$("#courseDetailDialog").dialog("option","title",req.params.courseId);
									$("#courseDetailDialog").dialog("open")
									
								}
								coreAjax(req);	
						});
					$("[name='addShareCourse']").click(function(){
						$(this).parent().append("<input type='Email' name='attendees' placeholder='請輸入好友gmail' />")
					});
				}
				coreAjax(req);
			})
			$("#calendarListSelect").change(function(){
				var req = {};
				
				req.params = {"calendarId":$("#calendarListSelect").val(),
							  "startDate":$("#eventStartDate").val(),
							  "endDate":$("#eventEndDate").val()}
				
				req.method = "POST";
				req.url = "api/Events";
				req.success = function(data){
					console.log(data)
					/* $("#eventSelect").html(""); */
					var items = data.items;
					eventTable.rows.add(items).draw();
					var eventSelect = "";
					for(var i = 0;i<items.length; i++){
						var item = items[i];
						eventSelect +="<option value='"+item.id+"'>"+item.summary+"</option>"
					}
					$("#eventSelect").append(eventSelect);
				}
				coreAjax(req);
			});
			
			/** Event start*/
			$("#eventsList").click(function(){
				var req = {};
				req.params = {"calendarId":$("#calendarListSelect").val(),
							  "startDate":$("#eventStartDate").val(),
							  "endDate":$("#eventEndDate").val()}
				
				req.method = "POST";
				req.url = "api/Events";
				req.success = function(data){
					console.log(data)
					/* $("#eventSelect").html(""); */
					var items = data.items;
					eventTable.rows.add(items).draw();
					/* var eventSelect = ""; */
					for(var i = 0;i<items.length; i++){
						var item = items[i];
						/* eventSelect +="<option value='"+item.id+"'>"+item.summary+"</option>" */
					}
					/* $("#eventSelect").append(eventSelect); */
					$("#calendarEventDialog").dialog("open")
					
					$("[name='eventDetail']").unbind();
					$("[name='eventsDetail']").click(function(){
						
						var  req = {};
						req.method = "GET";
						req.url = "api/Events";
						req.params = {calendarId:$("#calendarListSelect").val(),eventId:$(this).attr("data-id")};
						req.success = function(data){
							console.log(data)
							$("#summary").val(data.summary);
							$("#description").val(data.description);
							$("#created").val(data.created);
							$("#enddateTime").val(data.end.dateTime);
							$("#startdateTime").val(data.start.dateTime);
							$("#status").val(data.status);
							
							
						}
						coreAjax(req);
						$("#eventsDetailDialog").dialog("open");
					
					})
					
				}
				$("#calendarEventDialog").dialog("close")
				coreAjax(req);
				
			});
			$("#eventsDelete").click(function(){
				var req = {};
				req.method = "DELETE";
				req.url = "api/Events";
				req.params = {calendarId:$("#calendarListSelect").val(),
						   eventId:$("#eventSelect").val()};
				req.success = function(data){
					console.log(data)
					if(data.rc == "0002"){
						alert(data.rm);
						window.location.reload();
					}
				}
				coreAjax(req);
			});
			/* $("#eventsGet").click(function(){
				var  req = {};
				req.method = "GET";
				req.url = "api/Events";
				req.params = {calendarId:$("#calendarListSelect").val(),eventId:$("#eventSelect").val()};
				req.success = function(data){
					console.log(data)
				}
				coreAjax(req);
			});	 */
			/** Event end*/
			
			/** Calendars start*/
			//目前暫無使用
			$("#calendarsGet").click(function(){
				var req = {};
				req.method = "GET";
				req.url = "api/Calendars";
				req.params = {calendarId:$("#calendarListSelect").val()};
				req.success = function(data){
					console.log(data)
				}
				coreAjax(req);
			});
			
			//刪除日曆
			$("#calendarsDelete").click(function(){
				var req = {};
				req.method = "DELETE";
				req.url = "api/Calendars";
				req.params = {secondaryCalendarId:$("#manageCalendarSelect").val()};
				req.success = function(data){
					$("[value='"+$("#manageCalendarSelect").val()+"']").remove()
				}
				coreAjax(req);
			});
			
			//清空日曆
			$("#calendarsClear").click(function(){
				var req = {};
				req. method = "POST";
				req.params = {calendarId:$("#manageCalendarSelect").val()};
				alert($("#manageCalendarSelect").val())
				req.url = "api/Calendars";
				req.success = function(data){
					alert("清空成功")
				}
				coreAjax(req);
			})
			//新增日曆
			$("#calendarsInsert").click(function(){
				var req = {};
				req.method ="PUT";
				req.url = "api/Calendars";
				req.params = {summary:$("#newCalendarName").val()};
				req.success = function(data){
					$("#calendarListList").click();
					var created_calendar = data.created_calendar;
					$("#calendarListSelect").append("<option value='"+created_calendar.id+"'>"+created_calendar.summary+"</option>");				
					$("#manageCalendarSelect").append("<option value='"+created_calendar.id+"'>"+created_calendar.summary+"</option>");
				}
				coreAjax(req);
			})
			/** Calendars end*/
			
			$("#calendarListInsert").click(function(){
				$.ajax({
					type : 'PUT',
					url : "api/CalendarList",
					async : true, // 使用預設
					cache : false,
					dataType : 'json', // 回來的資料自動以HTML 載入對應div
					contentType : 'application/json',
					data : JSON.stringify({"id":$("#calendarListSelect").val()}),// 參數轉換為 json object
					success :function(data){
						console.log(data)
					},
					error : function(error){
						console.log(error)
					}
				}).done(function(){
					
				}); 
			});
			/** CalendarList end*/
			
			$("#insertBtn")
					.click(
							function(event) {
								var urlLink = 								
								$(this).parents().prev().children().children("a").attr("href");
								console.log($(this).parents().children(".course").children().children(".courseId").html())
								var course = $(this).parents().children(".course").children().children(".courseId").text();
								console.log(course)
								var req = {};
								req.method = "PUT";
								req.url = "api/Events";
								req.params = {calendarId:$("#calendarListSelect").val(),eventId:$("#eventSelect").val(),
										   htmlLink:urlLink,
										   courseId:course,
										   attendees:(function(){
											   var attendees = $("[name='attendees']");
											   alert(attendees.length)
											   var attendeesArray = new Array();
											   for(var i = 0;i<attendees.length;i++){
												   attendeesArray[i] ={"email": $(attendees[i]).val()};
											   }
											   return attendeesArray;
											   })()
										   }
								req.success = function(data){
									if(data.rc!="0000"){
										alert(data.rm)
									}else{
										alert("已新增至您的日曆!")
									}
									console.log(data);
								}
								coreAjax(req);
							});
			
		};

		//初始化地址
		var initCity = function() {
			var allCity = "";
			var allCityCheckBox = "";
			$("#City").append("<option value=''>" + "點擊此處選取縣市" + "</option>");
			
			for (var i = 1; i < County.length; i++) {
				//allCity += "<option value='"+County[i]+"'>" + County[i]
					//	+ "</option>";
				
				allCityCheckBox += "<input name='selectCity' type='checkbox' value='"+County[i]+"'>"+County[i]+"</input>"
				if(i%4==0){
					allCityCheckBox += "<br>"
				}
			}
			
			$("#checkCityBtn").click(function(){
				var selectCity = $("[name='selectCity']:checked");
				var selectCityStr = "";
				for(var i = 0;i<selectCity.length;i++){
					selectCityStr += "<input type='button' name='checkCity' value='"+$(selectCity[i]).val()+"'><input type='button' name='removeCity' onclick='deleteCity(this)' value='x' ></input></input>"
				}
				$("#selectCityShow").append(selectCityStr);
				
				$("#CityListDialog").dialog("close");
			})
			
			$("#ClityContent").html(allCityCheckBox);
			
			
		}

		//初始化執行
		$(document).ready(function() {
			init();
		});
	})();
	function deleteCity(obj){
		$(obj).prev().remove()
		$(obj).remove()
	}
	function deleteEvent(eventId,obj){
		$.ajax({
			type : 'DELETE',
			url : "api/Events",
			async : true, // 使用預設
			cache : false,
			dataType : 'json', // 回來的資料自動以HTML 載入對應div
			contentType : 'application/json',
			data : JSON.stringify({calendarId:$("#calendarListSelect").val(),
								   eventId:eventId}),// 參數轉換為 json object
			success :function(data){
				console.log(data)
				if(data.rc == "0002"){
					alert(data.rm);
					window.location.reload();
				}
				else{
					//$("#"+eventId).parent().parent().remove();
					//eventTable.draw();
					$('#eventTable').DataTable().row($(obj).parents('tr')).remove().draw();
				}
				//$("#eventsList").click()
			},
			error : function(error){
				console.log(error)
			}
		}).done(function(){
			
		}); 
	}
</script>
</html>