<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  {% load staticfiles %}
  {% include 'plus/indexHead.html' %}
</head>

<body>
  <div id="main">
    <div id="header">  
      <h1>三年七萬在職進修<span style="color:brown;">&</span><span>google日曆</span></h1>	
	  <h2>three year seven Million working on the job training & google Calendar!</h2>   
    </div><!--close header-->			
  
    <div class="container_header"><p>&nbsp;</p></div>
    <div id="site_background">       
	  <div id="banner">  
		<div id="banner_content">
		</div><!--close banner_content-->	
      </div><!--close banner-->		
      <div id="site_content">
	    <div id="menubar">
           <ul class="lavaLampWithImage" id="lava_menu">
           	<li><a href="/plus/index.html">網站介紹</a></li>
          	<li><a href="/plus/ourwork.html">開始使用</a></li>
            <li><a href="/plus/testimonials.html">課程更新資訊</a></li>
            <li><a href="/plus/contact.html">相關連結</a></li>
            <li class="current"><a target="_blank" href="https://docs.google.com/forms/d/1tA7gEN0x7oPWZ0ut3hUa6C_6mR6vgkQTalUZ-VZP3Dw/edit">問題回報</a></li>
          </ul>
	      <div id="contact">
			<a href="#"><img src="{% static 'plus/images/icons/twitter.png' %}" alt="twitter" /></a>
            <a href="#"><img src="{% static 'plus/images/icons/facebook.png' %}" alt="facebook" /></a>
            <a href="#"><img src="{% static 'plus/images/icons/linkedin.png' %}" alt="linkedin" /></a>
	      </div><!--close contact-->
	    </div><!--close menubar-->	
        <div id="content">
          <div class="clear"></div>
          <div class="content_item">
            <h2>相關連結</h2>
            <a href='https://tims.etraining.gov.tw/timsonline/index.aspx'>勞動力發展署-產業人才投資方案</a>
          </div><!--close content_item-->
	    
			
		     
		    
           </div><!--close sidebar_container-->	
         <br style="clear:both;" />
      </div><!--close content-->	
    </div><!--close site_content-->	
	</div><!--close site_background-->	
    <div id="footer">  
	  <div id="footer_content">
        <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> | <a href="http://dryicons.com/">Icons</a> | <a href="http://www.pdphoto.org/">Images</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>
      </div><!--close footer_content-->	
    </div><!--close footer-->	
  </div><!--close main-->	
</body>
</html>
