<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>y3m7首頁</title>

</head>
<body>
{% load staticfiles %}
  <title>打造你的在職進修個人課程-首頁</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{% static 'y3m7Calendar/jquery-ui-1.12.0.custom/jquery-ui.css' %}" ></link>
  <link rel="stylesheet" type="text/css" href="{% static 'plus/css/style.css' %}" />
  <!-- <script type="text/javascript" src="{% static 'plus/js/jquery.min.js' %}"></script> -->
  <script src="{% static 'y3m7Calendar/jquery-1.11.1.min.js' %}"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
  <!-- CR100001-jquery不支援jquery.easing  -->
  <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> -->
  <!-- <script type="text/javascript" src="{% static '/plus/js/jquery.lavalamp.min.js' %}"></script>
  <script type="text/javascript">
    $(function() {
      $("#lava_menu").lavaLamp({
        fx: "backout",
        speed: 700
      });
    });
  </script> -->
</body>
</html>