<html>
<head>
{% load staticfiles %}
	{% include 'plus/indexHead.html' %}
</head>
<body>
  <div id="main">
    <div id="header">
    <!-- CR100002-使用django template的include將head的部分共用出來 --> 
      <h1>三年七萬在職進修<span style="color:brown;">&</span><span>google日曆</span></h1>	
	  <h2>three year seven Million working on the job training & google Calendar!</h2>
    </div><!--close header-->			
    <div class="container_header"><p>&nbsp;</p></div>
    <div id="site_background"> 
      <div id="banner">  
		<div id="banner_content">
		</div><!--close banner_content-->	
      </div><!--close banner-->		
	  <div id="site_content">
	    <div id="menubar">
          <ul class="lavaLampWithImage" id="lava_menu">
           	<li><a href="/plus/index.html">網站介紹</a></li>
          	<li><a href="/plus/ourwork.html">開始使用</a></li>
            <li><a href="/plus/testimonials.html">課程更新資訊</a></li>
            <li><a href="/plus/contact.html">相關連結</a></li>
            <li class="current"><a target="_blank" href="https://docs.google.com/forms/d/1tA7gEN0x7oPWZ0ut3hUa6C_6mR6vgkQTalUZ-VZP3Dw/edit">問題回報</a></li>
          </ul>
	      <div id="contact">
	        <a href="#"><img src="{% static 'plus/images/icons/twitter.png' %}" alt="twitter" /></a>
            <a href="#"><img src="{% static 'plus/images/icons/facebook.png' %}" alt="facebook" /></a>
            <a href="#"><img src="{% static 'plus/images/icons/linkedin.png' %}" alt="linkedin" /></a>
	      </div><!--close contact-->
	    </div><!--close menubar-->	
        <div id="content">
          <div class="content_item">
            <h1>歡迎您使用y3m7</h1>
            <p>y3m7將三年七萬政府職訓課程結合google日曆</p>
            <b style="font-size:24px;">網站說明:</b>
            <!-- <div style="width:20%;height:20%; float:left; padding: 0px 20px 10px 0px;"><img alt="image" src="{% static 'plus/images/y3m7_Description.jpg' %}" /></div> -->
            <p>y3m7提供免費服務給台灣勞動部勞動力發展署之<span style="color:red;">產業人才投資方案</span>與<span style="color:red;">提升勞工自主學習計畫</span>課程查詢</p>
			<p>加入google日曆等服務</p>
			<pre>y3m7的服務項目有:
	1.管理google日曆
			服務內容:
				新建日曆、刪除日曆
	2.管理google日曆活動
			服務內容:
				查詢活動列表、查看活動列表明細、刪除活動
	3.將課程加入google日曆中
			服務內容:
				查詢課程、將課程加入google日曆中、將課程加入google日曆中並分享給好友(將以email的方式通知)</pre>
            <h3 style='color:red;'>注意:使用前會請求授權,但本網站並不會儲存您的任何google帳號資訊</h3></p>
            <h3 ><a style='color:blue;' href="http://m7y3.ddns.net/y3m7Calendar">點此開始製作!</a></h3>
            <!-- http://m7y3.ddns.net/y3m7Calendar -->
            <img alt="image" src="{% static 'plus/images/y3m7_Description.jpg' %}" />
            <!-- <p>如果您喜歡這個網站,您可以點擊廣告來支持</p> -->
		  </div><!--close content_item-->	
	      
		  <div class="sidebar_container">       
		    <div class="sidebar">
              <div class="sidebar_item">
                <h2>Latest Blog</h2>
			    <h4>April 2012</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>
		          <a href="#">Read more</a>
              </div><!--close sidebar_item--> 
            </div><!--close sidebar-->     		
		    <div class="sidebar">
              <div class="sidebar_item">
                <h2>Latest Blog</h2>
		  	    <h4>April 2012</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>
		          <a href="#">Read more</a>
              </div><!--close sidebar_item--> 
            </div><!--close sidebar-->  
		    <div class="sidebar">
              <div class="sidebar_item">
                <h2>Latest Blog</h2>
			    <h4>April 2012</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>
		          <a href="#">Read more</a>
              </div><!--close sidebar_item--> 
            </div><!--close sidebar-->  
           </div><!--close sidebar_container-->	
           <br style="clear:both;" />
        </div><!--close content-->	
      </div><!--close site_content-->	
	</div><!--close site_background-->	
    <div id="footer">  
	  <div id="footer_content">
        <!-- <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> | <a href="http://dryicons.com/">Icons</a> | <a href="http://www.pdphoto.org/">Images</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a> -->
      </div><!--close footer_content-->	
    </div><!--close footer-->	
  </div><!--close main-->
  
  
  	
  	<div id="startDialog" title="提示" align="center" hidden>
  		<label>現在立刻開始使用y3m7來安排您的課程!</label><br>
  		<input style="margin-right:20px;" type="button" value="現在還不要" id="endBtn" style="margin-top:30px;" />
  		<input type="button" value="立刻開始!" id="startBtn" style="margin-top:30px;" />
	</div>
  <script src="{% static 'y3m7Calendar/js/core.js' %}"></script>
<script>
(function(){
	
	var init = function(){	
		var req = {};
		req.params = {};
		req.method = "GET";
		req.url = "/plus/api/queryNotice";
		req.success = function(data){
			data = JSON.parse(data.notices)
			//$(".sidebar_container").html('')
			var noticeStr = "";
			for (var i = 0;i<data.length;i++){
				noticeStr +="<div class='sidebar'>";
				noticeStr +="<div class='siderbar_item'>";
				noticeStr +="<h2>"+data[i].date+"</h2>";
				noticeStr +="<h4>"+data[i].subject+"</h4>";
				noticeStr +="<p>"+data[i].content+"</p>";
				noticeStr +="<a href='#'>Read more</a>";
				noticeStr +="</div>";
				noticeStr +="</div>";
			}
			$(".sidebar_container").html(noticeStr);
		}
		 try{
			coreAjax(req);
		}catch(e){
			console.log(e.stack);
		} 
		
		$("#startDialog").dialog({
			  resizable: false,
		      height: "auto",
		      width: "30%",
		      modal: true,
		      open:function(){
		      }});
		$("#startBtn").click(function(){
			window.location.href = "http://m7y3.ddns.net/y3m7Calendar"
		})
		$("#endBtn").click(function(){
			$("#startDialog").dialog("close");
		})
	}
	$(document).ready(function() {
		init();
	});
	
})();

</script>	
</body>


</html>
