<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    {% load staticfiles %}
  {% include 'plus/indexHead.html' %}
</head>

<body>
  <div id="main">
    <div id="header">    
      <h1>三年七萬在職進修<span style="color:brown;">&</span><span>google日曆</span></h1>	
	  <h2>three year seven Million working on the job training & google Calendar!</h2>
    </div><!--close header-->			 
    <div class="container_header"><p>&nbsp;</p></div>
	<div id="site_background"> 
      <div id="banner">  
		<div id="banner_content">
		</div><!--close banner_content-->	
      </div><!--close banner-->	
      <div id="site_content">
	    <div id="menubar">
           <ul class="lavaLampWithImage" id="lava_menu">
           	<li><a href="/plus/index.html">網站介紹</a></li>
          	<li><a href="/plus/ourwork.html">開始使用</a></li>
            <li><a href="/plus/testimonials.html">課程更新資訊</a></li>
            <li><a href="/plus/contact.html">相關連結</a></li>
            <li class="current"><a target="_blank" href="https://docs.google.com/forms/d/1tA7gEN0x7oPWZ0ut3hUa6C_6mR6vgkQTalUZ-VZP3Dw/edit">問題回報</a></li>
          </ul>
	      <div id="contact">
	        <a href="#"><img src="{% static 'plus/images/icons/twitter.png' %}" alt="twitter" /></a>
            <a href="#"><img src="{% static 'plus/images/icons/facebook.png' %}" alt="facebook" /></a>
            <a href="#"><img src="{% static 'plus/images/icons/linkedin.png' %}" alt="linkedin" /></a>
	      </div><!--close contact-->
	    </div><!--close menubar-->	
        <div id="content">
          <div class="content_item">
            <h2>使用說明:</h2>
            <!-- <div style="width:150px; float:left;"><img src="images/icons/work.png" alt="work"/></div> -->
            <!-- <h3>y3m7的服務提供:</h3> -->
    	      <ul>
   		  	    <li>Service 1 - 查詢職訓課程:
   		  	    	<div>輸入條件後查詢一年以內的課程,預設為這個禮拜的日期,縣市別為必填選欄位</div>
   		  	    	<!-- <div style="width:150px; float:left;"> -->
   		  	    	<img src="{% static 'plus/images/y3m7_query_s.jpg' %}" alt="查詢職訓課程"/>
   		  	    	<!-- </div> -->
   		  	    </li>
    	  	    <li>Service 2 - 將課程加入google日歷:
    	  	    	<div>點選新增課程後,等待跳出提示"新增成功"</div>
    	  	    	<img src="{% static 'plus/images/y3m7_add_s.jpg' %}" alt="查詢職訓課程"/>
    	  	    	<div>如果您想要通知其他人出席課程,您可以在通知出席的地方輸入gmail,並且在您的google日曆中傳送電子郵件給其他人</div>
    	  	    	<img src="{% static 'plus/images/y3m7_notice_s.jpg' %}" alt="查詢職訓課程"/>
    	  	    </li>
   			    <li>Service 3 - 新建日歷或刪除日曆:
   			    	<div>您可以在管理日曆列表中新增一個日曆</div>
   			    	<img src="{% static 'plus/images/y3m7_new_m.jpg' %}" alt="查詢職訓課程"/>
   			    </li>
   			    <li>Service 4 - 管理活動:
   			    	<div>您可以在管理管理活動中查詢您的活動,輸入日期後按下查詢,您也可以在這裡按下刪除活動來刪除該活動</div>
   			    	<img src="{% static 'plus/images/y3m7_event_s.jpg' %}" alt="查詢職訓課程"/>
   			    </li>
   			    <li>Service 5 - 課程資訊更新:
   			    	<div>查看目前課程資料更新</div>
   			    	<a href="http://m7y3.ddns.net/plus/testimonials.html">課程更新資訊</a>
 			    </li>
   		      </ul>
		  </div><!--close content_item-->
	      
		<!--   <div class="sidebar_container">       
		    <div class="sidebar">
              <div class="sidebar_item">
                <h2>Latest Blog</h2>
			    <h4>April 2012</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>
		          <a href="#">Read more</a>
              </div>close sidebar_item 
            </div>close sidebar     		
		    <div class="sidebar"> -->
              <!-- <div class="sidebar_item">
                <h2>Latest Blog</h2>
		  	    <h4>2016/02/01</h4>
                <p>y3m7正式開始!</p>
		          <a href="#">Read more</a>
              </div>close sidebar_item 
            </div>close sidebar   -->
		   <!--  <div class="sidebar">
              <div class="sidebar_item">
                <h2>Latest Blog</h2>
			    <h4>April 2012</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>
		          <a href="#">Read more</a>
              </div>close sidebar_item 
            </div>close sidebar   -->
           </div><!--close sidebar_container-->	
           <br style="clear:both;" />
        </div><!--close content-->	
      </div><!--close site_content-->	
	</div><!--close site_background-->	
    <div id="footer">  
	  <div id="footer_content">
        <!-- <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> | <a href="http://dryicons.com/">Icons</a> | <a href="http://www.pdphoto.org/">Images</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a> -->
      </div><!--close footer_content-->	
    </div><!--close footer-->	
  </div><!--close main-->	
</body>
</html>
