<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	 {% load staticfiles %}
  {% include 'plus/indexHead.html' %}
  <script src="{% static 'y3m7Calendar/datatables.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap4.min.css" />
</head>

<body>
  <div id="main">
    <div id="header">  
      <h1>三年七萬在職進修<span style="color:brown;">&</span><span>google日曆</span></h1>	
	  <h2>three year seven Million working on the job training & google Calendar!</h2>
    </div><!--close header-->			
  
    <div class="container_header"><p>&nbsp;</p></div>
    <div id="site_background"> 
	  <div id="banner">  
		<div id="banner_content">
		</div><!--close banner_content-->	
      </div><!--close banner-->		
      <div id="site_content">
	    <div id="menubar">
          <ul class="lavaLampWithImage" id="lava_menu">
           	<li><a href="/plus/index.html">網站介紹</a></li>
          	<li><a href="/plus/ourwork.html">開始使用</a></li>
            <li><a href="/plus/testimonials.html">課程更新資訊</a></li>
            <li><a href="/plus/contact.html">相關連結</a></li>
            <li class="current"><a target="_blank" href="https://docs.google.com/forms/d/1tA7gEN0x7oPWZ0ut3hUa6C_6mR6vgkQTalUZ-VZP3Dw/edit">問題回報</a></li>
          </ul>
	      <div id="contact">
	       <a href="#"><img src="{% static 'plus/images/icons/twitter.png' %}" alt="twitter" /></a>
            <a href="#"><img src="{% static 'plus/images/icons/facebook.png' %}" alt="facebook" /></a>
            <a href="#"><img src="{% static 'plus/images/icons/linkedin.png' %}" alt="linkedin" /></a>
	      </div><!--close contact-->
	      
	    </div><!--close menubar-->	
	   
        <div id="content">
        
          <div class="content_item">
          	 <table id="changeDataTable" class="display" cellspacing="0" style="" >
			</table>
          		
          </div><!--close content_item-->
	    
           <br style="clear:both;" />
        </div><!--close content-->	
      </div><!--close site_content-->	
	</div><!--close site_background-->	
    <div id="footer">  
	  <div id="footer_content">
        <!-- <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> | <a href="http://dryicons.com/">Icons</a> | <a href="http://www.pdphoto.org/">Images</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a> -->
      </div><!--close footer_content-->	
    </div><!--close footer-->	
  </div><!--close main-->	
  <script src="{% static 'y3m7Calendar/js/core.js' %}"></script>
  <script>
  (function(){
	var changeDataTable;
	var init = function(){	
		
		
		var aoColumns = [
			         		{
			         			"sTitle" : "課程編號",
			         			"mData" : "CourseId",
				         			/* "sDefaultContent" : ""
			         				, */
			         			"mRender" : function(data, type, row) {
			         				return "<a href='https://tims.etraining.gov.tw/timsonline/index3.aspx?OCID="+data+"'>"+data+"</a>";
			         			}
			         		},
			         		{
			         			"sTitle" : "課程名稱",
			         			"mData" : "CourseName",
			         			"sDefaultContent" : ""
			         		},
			         		{
			         			"sTitle" : "變更項目",
			         			"mData" : "attribute",
			         			"sDefaultContent" : "",
			         			"mRender" : function(data, type, row) {
			         				switch(data){
			         					case "CourseId":
		         							return "課程編號";
		         							
			         					case "CourseName":
		         							return "課程名稱"
		         							
			         					case "SignupQuota":
			         						return "已報名人數";
			         						
			         					case "OTel":
			         						return "連絡電話";
			         						
			         					case "ClassHour":
			         						return "總訓練時數";
			         						
			         					case "InsuranceNo":
			         						return "開課單位統一編號";
			         						
			         					case "OAddress2":
			         						return "術科地址";
			         						
			         					case "TrainingEndDate":
			         						return "結訓日期";
			         						
			         					case "StudentPay":
			         						return "學員給付金額";
			         						
			         					case "SignupStartDate":
			         						return "報名開始日期";
			         						
			         					case "ClassType":
			         						return "是否為學分制";
			         						
			         					case "ClassQuota":
			         						return "招收人數";
			         						
			         					case "GovPay":
			         						return "政府補助金額";
			         						
			         					case "OName":
			         						return "課程名稱";
			         						
			         					case "OAddress":
			         						return "學科地址";
			         						
			         					case "TrainingType":
			         						return "訓練類型";
			         						
			         					case "TrainingStartDate":
			         						return "開課日期";
			         						
			         					case "TrainingDateRange":
			         						return "訓練期限";
			         						
			         					case "City":
			         						return "縣市別";
			         						
			         					case "SignupEndDate":
			         						return "報名截止日期";
			         						
			         					case "OCName":
			         						return "開課單位";
			         						
			         					default:
			         						return "系統異常";
			         				}//switch
			         			}//render
			         		}, {
			         			"sTitle" : "原有資料",
			         			"mData" : "Old",
			         			"sDefaultContent" : ""
			         		}, {
			         			"sTitle" : "更新資料",
			         			"mData" : "New",
			         			"sDefaultContent" : "",
			         		} ];
		
			         				var opt = {
			         				"oLanguage" : dataTableLanguage,
			         				"bProcessing" : true, // 顯示處理中 ..
			         				"aoColumns" : aoColumns,
			         				"bLengthChange" : false, // 改變每頁顯示數據數量
			         				"bFilter" : false, // 過濾功能
			         				"bSort" : true, // 排序功能
			         				"bPaginate" : true, // 翻頁功能
			         				"bInfo" : false,// 頁腳信息
			         				"bAutoWidth" : false,// 自動寬度
			         			};
      				changeDataTable = $('#changeDataTable').DataTable(opt);
		
		
		
		var req = {};
		req.params = {};
		req.method = "GET";
		req.url = "/plus/api/queryChangeData";
		req.success = function(data){
			 data = JSON.parse(data.changeDatas) 
			 console.log(data)
			 changeDataTable.clear().rows.add(data).draw();
			//$(".sidebar_container").html('')
			/* var noticeStr = "";
			for (var i = 0;i<data.length;i++){
				noticeStr +="<div class='sidebar'>";
				noticeStr +="<div class='siderbar_item'>";
				noticeStr +="<h2>"+data[i].date+"</h2>";
				noticeStr +="<h4>"+data[i].subject+"</h4>";
				noticeStr +="<p>"+data[i].content+"</p>";
				noticeStr +="<a href='#'>Read more</a>";
				noticeStr +="</div>";
				noticeStr +="</div>";
			}
			$(".sidebar_container").html(noticeStr); */
		}
		 try{
			coreAjax(req);
		}catch(e){
			console.log(e.stack);
		} 
		
		/* $("#startDialog").dialog({
			  resizable: false,
		      height: "auto",
		      width: "30%",
		      modal: true,
		      open:function(){
		      }});
		$("#startBtn").click(function(){
			window.location.href = "http://y3m7.ddns.net/y3m7Calendar"
		})
		$("#endBtn").click(function(){
			$("#startDialog").dialog("close");
		}) */
	}
	$(document).ready(function() {
		init();
	});
	
	})();
  </script>
  
  
</body>
</html>
